@import "icon";
//================================
.asGalleryPicker {
  position: relative;
  display: inline-block;
  &-initial, &-info {
    position: relative;
    box-sizing: border-box;
    width: 206px;
    height: 206px;
    text-align: center;
  }
  &-initial {
    padding: 40px 15px;
    font-size: 14px;
    color: #9aa4a8;
    cursor: pointer;
    border: 2px dashed #e5e5e5;
    i {
      display: block;
      margin-bottom: 9px;
      font-family: "asFont";
      font-size: 70px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      color: #d7d7d7;
      text-transform: none;

      speak: none;
      //  Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &::before {
        content: "\e624";
      }
    }
  }
  &-info {
    padding: 2px;
    border: 2px solid #e5e5e5;
    &-image {
      width: 100%;
      height: 100%;
    }
    &-count {
      position: absolute;
      right: 5px;
      bottom: 5px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #5cafda;
      border-radius: 100%;
    }
    &-add {
      position: absolute;
      top: -2px;
      left: -2px;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 200px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, .8);
      border: 2px solid rgba(0, 0, 0, .8);
    }
    &-expand {
      position: absolute;
      right: 5px;
      bottom: 5px;
      display: none;
      width: 25px;
      height: 25px;
      font-family: "asFont";
      font-size: 0;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      color: #fff;
      text-transform: none;
      cursor: pointer;

      speak: none;
      //  Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &::before, &::after {
        position: absolute;
        font-size: 12px;
      }
      &::before {
        top: 0;
        left: 0;
        content: "\e617";
      }
      &::after {
        right: 0;
        bottom: 0;
        content: "\e61f";
      }
    }
  }
  // expand
  &-expand {
    position: relative;
    box-sizing: border-box;
    width: 318px;
    padding: 15px 0;
    overflow: hidden;
    background-color: #f4f6f7;
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 15px;
      height: 15px;
      font-family: "asFont";
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      cursor: pointer;
      background-color: #ff7975;
      border: 2px solid #fff;
      border-radius: 100%;

      speak: none;
      //  Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &::before {
        content: "\e626";
      }
      &:hover {
        text-decoration: none;
      }
    }
    &-add {
      box-sizing: border-box;
      float: left;
      width: 128px;
      height: 128px;
      padding: 30px 10px;
      margin: 15px;
      color: #aaa;
      text-align: center;
      cursor: pointer;
      border: 2px dashed #e5e5e5;
      i {
        display: block;
        margin-bottom: 5px;
        font-family: "asFont";
        font-size: 40px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        color: #d7d7d7;
        text-transform: none;

        speak: none;
        //  Better Font Rendering ===========
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &::before {
          content: "\e624";
        }
      }
    }
    &-items {
      display: inline;
      padding: 0;
      margin: 0;
      overflow: hidden;
      list-style: none;
      li {
        position: relative;
        box-sizing: border-box;
        float: left;
        width: 128px;
        height: 128px;
        padding: 2px;
        margin: 15px;
        background-color: #fff;
      }
    }
    &-scrollbar {
      position: absolute;
      top: 0;
      right: 0;
      box-sizing: border-box;
      overflow: hidden;
      line-height: 0;
      background: transparent;
      border: none;
      border-radius: 4px;
    }
    &-scrollbar.asGalleryPicker-expand-vertical {
      width: 8px;
      height: 100%;
      .asGalleryPicker-expand-handle {
        width: 100%;
      }
    }
    &-handle {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 0;
      cursor: pointer;
      background: #ccc;
      border-radius: 4px;
    }
  }
  &-item {
    border: 2px solid #e5e5e5;
    > img {
      width: 100%;
      height: 100%;
    }
    &-change {
      position: absolute;
      top: -2px;
      left: -2px;
      display: none;
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 125px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      background-color: rgba(0, 0, 0, .8);
      border: 2px solid rgba(0, 0, 0, .8);
    }
    &-remove {
      position: absolute;
      top: -11px;
      right: -11px;
      display: none;
      width: 15px;
      height: 15px;
      font-family: "asFont";
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 16px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      background-color: #ff7975;
      border: 2px solid #fff;
      border-radius: 100%;

      speak: none;
      //  Better Font Rendering ===========
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &::before {
        content: "\e627";
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.asGalleryPicker_exist {
  .asGalleryPicker-info {
    display: block !important;
  }
  .asGalleryPicker-initial, .asGalleryPicker-expand {
    display: none !important;
  }
}

.asGalleryPicker_empty {
  .asGalleryPicker-initial {
    display: block !important;
  }
  .asGalleryPicker-info {
    display: none !important;
  }
}

.asGalleryPicker_expand {
  .asGalleryPicker-initial, .asGalleryPicker-info {
    display: none !important;
  }
  .asGalleryPicker-expand {
    display: block !important;
  }
}

.asGalleryPicker_hover {
  .asGalleryPicker-info-add, .asGalleryPicker-info-expand, .asGalleryPicker-item-change, .asGalleryPicker-item-remove {
    display: block !important;
  }
}
